# Basic
PUBLIC_SITE_NAME="My Astro Site"
PUBLIC_SITE_URL="https://example.com"
PUBLIC_SITE_BASE_URL="/" # optional, e.g. "/blog/"
PUBLIC_SITE_DESCRIPTION="A fast, minimal Astro website"

# Author
PUBLIC_SITE_AUTHOR="Your Name"

# Socials
PUBLIC_X_HANDLE="@yourhandle"   # optional
PUBLIC_X_URL=""      # optional, e.g. "https://twitter.com/yourusername"

PUBLIC_FACEBOOK_URL=""    # optional, e.g. "https://facebook.com/yourusername"
PUBLIC_LINKEDIN_URL=""     # optional, e.g. "https://linkedin.com/in/yourusername"
PUBLIC_INSTAGRAM_USERNAME="yourusername"     # optional
PUBLIC_GITHUB_URL=""      # optional, e.g. "https://github.com/yourusername"